.hide{ display:none;}
.clear{clear: both;}
.clear-left{clear: left;}

body{font-family: "Courrier New", Courrier, Mono, Monospace, Console;
background: #ccc url('../img/bg_noise2.gif') }

.v-50{height: 50px;}
.v-100{height: 100px;}
.v-150{height: 150px; }
.v-200{height: 200px;}
.v-lfo{height: 100px;}

.h-50{width: 50px;}
.h-100{width: 100px;}
.h-150{width: 150px;}
.h-200{width: 200px;}

.h-adsr{width: 200px;}
.h_lfo_freq{ width: 250px; }

.box{background:#ddd; font-size:11px; padding:5px;}



#adsr{  }
#adsr .s{ background:#fff; margin:0; margin-bottom:-10px; padding-left:20px;}
#adsr .s label{ float: left; width:50px; margin-left:-10px; margin-top:3px; }

#adsr_graph{ border: 1px solid #ccc; background: #ddd; margin:5px 0px; }

.master_vol{ width: 40px; float: right; text-align:center; padding-left:20px; padding-right:0px;}
.master_vol .label{ margin-left: -20px; display:block; }


#sine_graph{
	/*width:100%;
	height:200px;*/
	background:#fff;
}

/*
 LFO
*/

.lfo_volume{ float: right;}
#lfos{ width: 300px; height: 200px; }

.on_off{ height:30px; width:90px; display:block; float:left;  }

#lfo1 label em{font-weight:bold; font-size:14px; font-style:normal; }

/* Used for the Switch effect: */

.field { width: 100%; float: left; margin: 0 0 20px; }
.field input { margin: 0 0 0 20px; }


.cb-enable, .cb-disable, .cb-enable span, .cb-disable span { background: url(../img/switch.gif) repeat-x; display: block; float: left; }
.cb-enable span, .cb-disable span { line-height: 30px; display: block; background-repeat: no-repeat; font-weight: bold; }
.cb-enable span { background-position: left -90px; padding: 0 10px; }
.cb-disable span { background-position: right -180px;padding: 0 10px; }
.cb-disable.selected { background-position: 0 -30px; }
.cb-disable.selected span { background-position: right -210px; color: #fff; }
.cb-enable.selected { background-position: 0 -60px; }
.cb-enable.selected span { background-position: left -150px; color: #fff; }
.switch label { cursor: pointer; }

/* eo switch  */



/*
LAYOUT
*/

/* Frill-less keyboard keys */


#asdfg, #zxcvb, #bottomrow, #qwerty{ clear:both;}
.key.alt, .key.option, .key.control, .key.command, .key.fn, .key.shiftright, #bottomrow{display:none;}
.key.c187, .key.c46, .key.c37, .key.c38, .key.c39, .key.c40{display:none;}
.key.c192, .key#tab{opacity:0.2; }
#caps.key{opacity:1; display:block; }
#keyboard{
  width:629px; padding:0; 
  padding-left:5px;
  height:230px;
  box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none; 
  border: 0; background:rgba(255,255,255,0.0); 
  position:absolute;
  left:550px; top:100px;
}
.key.shiftleft{ background: #fff url('../img/squarewave2.gif') no-repeat 75% 50% ; background-size:35px; }
.key.caps{ background: #fff url('../img/squarewave2.gif') no-repeat 35% 20% ; background-size:22px; }

header{ 
  height: 55px; 
  width:100%;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000)); 
  position: absolute;
  top:0px;
  left:0px;
  border-bottom:#ccc 1px solid;
  box-shadow: 0px 0px 10px #444;
  
  }
header h1{ display:block; font-size: 25px; color:#ccc;  padding-top: 10px;font-weight:bold; margin-left: 20px; }
header h1 em{  color:#ddd; font-weight:normal; font-style:normal; }
header h1 span{ display:inline; font-size: 12px; color:#aaa; font-weight:normal; }

footer{ margin-top: 50px; clear:both;}
footer h1{ display:block; font-size: 12px; color:#333;  bottom-top: 10px;font-weight:bold; margin-left: 20px; }
footer h1 em{  font-weight:normal; font-style:normal; }
footer h1 span{ padding-left: 40px; display:inline; font-size: 11px; color:#aaa; font-weight:normal; color:#555; }



#app{width:1200px;  /* margin:auto;  TODO- wrap properly... */}


#effects{ /* the left column */
  width: 450px; float:left;
  border:3px solid: #0f0;
  padding-top:50px;
}

.box{
  opacity:0.3; background:#fff; border-radius:5px;
  margin-top:20px; 
  padding:10px;
  }
.box.on, .box.on:hover{
  opacity:1;
}
.box:hover{
  opacity:0.5;
}
.box h1{ font-size: 22px; font-weight: normal; padding-bottom:10px;}
#adsr canvas{float:right;}
2

#sine_graph_wrap{clear:both; padding:10px; background:#ccc; height:300px;  }
#sine_graph_wrap small{
  display:block; margin-top:-200px;  margin-bottom: 200px; z-index:1; 
  margin-left:5px; text-shadow: 1px 1px 2px #fff; 
  }
#sine_graph_wrap canvas{display:block; z-index:0; border:3px solid #fff; border-radius: 10px;}










