

#app{clear:both; padding:0px;}




/* ////////////////////////////////
//  NAV
///////////////////////////////// */


#scale_selector{
  position:absolute; 
  top:72px; 
  left:0px;
   height:60px; 
   width:100%;
    padding:0; 
    background:#f04; 
  overflow:hidden; 
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out}
  #scale_selector.view_all{ height:260px; overflow:visible;}
  
  #scale_selector a.more{background:#eee; color:#33c; float:right;}
#scale_selector a{
  display:block; text-decoration:none; padding:5px; padding-left:10px; line-height:1.1em; 
  width:100px; height:30px; color:#555; background:#ddd; float:left; 
  margin-left:10px; margin-bottom:10px; border-radius:5px;
  font-size:12px; font-family:arial;
  }
#scale_selector a em{display:block; font-weight:bold; color:#000; font-size:1.1em;
  }
#scale_selector a:hover{ background:#fff;}
#scale_selector a.selected{ background:#9ff;}



/* ////////////////////////////////
//  NECK
///////////////////////////////// */

#neck{position:relative; top:132px; width:400px; height:900px; padding:5px; border:#f00 1px solid; background:#fff; }

#keyboard{position:relative; left:20px; top:0px; height:40px; margin-top:-0px; width:380px; padding:0px; }
.key b{ font-size:24px; display:block;position:relative; top:-40px; color:#000;}
.key em{ font-size:13px; display:block;position:relative; top:-52px; padding-left:30px; color:#ccc; font-weight:normal;}
.key em.pos{color:#0f0;}
.key em.neg{color:#f00;}
.key span{margin-top:-35px; }
#frets{  margin-top:-40px; }

#fret_canvas{ }


#tuning_title{font-size: 35px; color:#555;  margin-bottom:50px; font-weight:normal;}
#tuning_title em{ font-weight: bold; display:block;}
#tuning_title span{ display:none;}

