

#app{clear:both; padding:0px; font-family:arial, sans, helvetica; }




/* ////////////////////////////////
//  Tuning NAV
///////////////////////////////// */


#scale_selector{
  top:72px; 
  left:0px;
  margin-top:65px; /* header h*/
   height:42px; 
   width:100%;
    padding:0; 
  overflow:hidden; 
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out}
  #scale_selector.view_all{ height:260px; overflow:visible;}
  
  #scale_selector h1{ 
    text-align:center; display:inline; 
    float:left;
    width:125px;
    margin-bottom:10px; padding-bottom:10px; margin-top:10px; 
    font-size:14px; border-right:dashed 1px #aaa;
    }
  
  #scale_selector a.more{background:#eee; color:#33c; float:right;}
#scale_selector a{
  display:block; text-decoration:none; padding:5px; padding-left:10px; line-height:1.1em; 
  width:100px; height:30px; color:#555; background:#ddd; float:left; 
  margin-left:10px; margin-bottom:10px; border-radius:5px;
  font-size:12px; font-family:arial;
  }
#scale_selector a em{display:block; font-weight:bold; color:#000; font-size:1.1em;
  }
#scale_selector a:hover{ background:#fff;}
#scale_selector a.selected{ background:#fff; /*9ff*/}



/* ////////////////////////////////
//  NECK
///////////////////////////////// */

#neck{width:400px; height:900px; padding:5px;  background:#fff; border-radius:4px; margin-top:10px; }

#keyboard{
  position:relative; left:20px; top:0px; height:40px; margin-top:-0px; width:380px; padding:0px; }
.key b{ font-size:24px; display:block;position:relative; top:-40px; color:#000;}
.key em{ font-size:13px; display:block;position:relative; top:-52px; padding-left:30px; color:#ccc; font-weight:normal;}
.key em.pos{color:#0f0;}
.key em.neg{color:#f00;}
.key span.digit{margin-top:-35px; }
.key span.chord_pos{
  opacity:1;
  margin-top:45px; color:#fff; width:30px; height:30px; 
  font-size:25px; text-align:center; background:#000; 
  border-radius:20px; margin-left:5px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  cursor:pointer;
}
.key span.chord_pos.invisible{opacity: 0; }
.key span.chord_pos.x{ margin-top:-15px; background:#f00; z-index:22; }
.key span.chord_pos.open{margin-top:25px; background:#55f; }
.key span.chord_pos.f1{margin-top:100px;}
.key span.chord_pos.f2{margin-top:200px;}
.key span.chord_pos.f3{margin-top:300px;}
.key span.chord_pos.f4{margin-top:400px;}
.key span.chord_pos.f5{margin-top:500px;}
.key span.chord_pos.f6{margin-top:600px;}
.key span.chord_pos.f7{margin-top:700px;}
.key span.chord_pos.f8{margin-top:800px;}
.key span.chord_pos.f9{margin-top:900px;}
.key span.chord_pos.f10{margin-top:1000px;}
.key span.chord_pos.f11{margin-top:1100px;}
.key span.chord_pos.f12{margin-top:1200px;}
.key span.chord_pos.f13{margin-top:1300px;}

#frets{  margin-top:-40px; }

#fret_canvas{margin-top:-38px; }



#tuning_title{
  font-size: 20px; color:#999;  margin-bottom:40px; 
  margin-top:10px; font-weight:normal; text-align:right;
}
#tuning_title .chord{ float:left; font-weight:normal; color:#000; font-size:15px; text-align:left}
#tuning_title em{ font-weight: bold; display:block;}
#tuning_title span{ display:none;}

/* ////////////////////////////////
//  Chords Nav
///////////////////////////////// */

#chords_wrap{float:right;   top:150px;  }
#chords_wrap h1{ text-align:center; margin-bottom:20px; padding-bottom:10px; margin-top:40px; font-size:16px; border-bottom:dashed 1px #aaa;}

#chords h1{display:none; }

p.instruction{ padding-bottom:20px; font-size:16px; font-style:italic;  width:600px; display:block; color:#777; }

#chords .col{ width:65px; float:left;}

#chords .col a{
  display:block;background:#ddd;
   border-radius:2px; padding:10px 5px;  margin-right:6px; 
   margin-bottom:3px; text-decoration:none; color:#444;
   text-align:center;
   font-size:16px;
   }
#chords .col.alt a{ background:#ccc;}
#chords .col a:hover{ background:#eee; color:#000;}
#chords .col a.selected{ background:#fff; }
#chords .col a:active, #chords .col a.maj:active{ 
  background:#fff; color:#999; margin-top:4px;  margin-bottom:2px;  
  }
#chords .no_chord{ padding:10px 5px; background:#ccc; margin-bottom:3px; color:#bbb;}
#chords .col a.maj{font-size:32px; font-weight:bold; margin-top:3px; }
#chords .col a.minor{font-size:22px;}

#not_avail_msg{display:none;}
#chords_wrap.not_avail #chords, #chords_wrap.not_avail #more_chords{display:none; }
#chords_wrap.not_avail #not_avail_msg{display:block; }


#chords_wrap .col a.extra, #chords_wrap .extra{display:none;}
#chords_wrap.view_all .col a.extra, #chords_wrap.view_all .extra{display:block;}

#more_chords{  background:#777; color:#fff; width: 300px; padding:20px; float:right; cursor:pointer; margin-top:10px; border-radius:4px;}
#more_chords:hover{background:#000; }


#effects, #sine_graph_wrap{ display:none; }








/* ////////////////////////////////
//  NEck v2
///////////////////////////////// */
#neck{top: 700px; margin-top:500px; position:absolute;}

#guitar_neck{ width: 600px; background:#333; color:#fff; padding:50px; position:absolute; text-align:left;}

#guitar_neck .title{font-family: georgia; width:450px; text-align:center;}

#guitar_neck .title h1{font-family: georgia; font-size: 55px; font-weight:normal; }
#guitar_neck .title h1 em{font-size:0.7em; margin-left:0.2em; }
span.flat{font-size:0.7em; line-height:1.2em; margin-left:-0.3em; }
#guitar_neck .title h3{font-family: georgia; font-size: 14px;font-weight:normal; letter-spacing:1px;  padding-bottom:20px;}

#guitar_neck canvas{  }
.string{ float:left;  }

.test{ background:#f00; }


em.pos{color:#0f0;}
em.neg{color:#f00;}
.key span.digit{margin-top:-35px; }

.string canvas{position:absolute; top:0px; z-index:0;}

.string{
  margin-top:40px; 
  position: relative; 
  width:75px; 
  /*border:#f00 solid 1px;*/
  height:400px;  
  text-align:center;
}
.string .icon{ 
  font-size:15px; text-align:center; margin-top:-30px; 
  height:42px; /* ! to position the dots!*/
  }
   .string.x .icon { font-size:22px; line-height:24px; margin-top:-30px; }
  .string.open .icon{ font-size:40px; line-height:10px; margin-top:-30px; }
  
.string .note{
  position:absolute;
  bottom:0; 
  display:block;
  margin:auto;
  text-align:center;
  z-index:10;
  opacity:1;
  width:100%;
  
  }
.string .dot{
  opacity:1;
  z-index:10;
  position:relative;
  margin-top:45px; 
  width:50px; height:50px; 
  color:#000; 
  background:#fff; 
  font-weight:bold;
  font-size:39px; text-align:center; 
  border-radius:50px; margin:auto;
  margin-top:10px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
    box-shadow: 0px 0px 10px #333;
  cursor:pointer;
}
.string .pattern{ 
  display:none;
}
.string.x{ }
.string.x .pattern{
  display:block;
  position:absolute;
  height:300px; 
  top:-10px;
  height:100%;
  margin-top:-45px;
   background:url('../img/thick_diago_fade2.png'); 
   position:relative;
 z-index:10;
 }

.string.x .dot{opacity: 0;}
.string.x .note{opacity: 0;}
.string.open .dot{opacity: 0;}
.string .dot.invisible{opacity: 0; }



.string.open{  background:#330; }
.string .dot.f1{margin-top:5px;} /* 70 - 10*/
.string .dot.f2{margin-top:75px;}
.string .dot.f3{margin-top:150px;}
.string .dot.f4{margin-top:225px;}
.string .dot.f5{margin-top:330px;}
.string .dot.f6{margin-top:600px;}
.string .dot.f7{margin-top:700px;}
.string .dot.f8{margin-top:800px;}
.string .dot.f9{margin-top:900px;}
.string .dot.f10{margin-top:1000px;}
.string .dot.f11{margin-top:1100px;}
.string .dot.f12{margin-top:1200px;}
.string .dot.f13{margin-top:1300px;}


/*
  ALT Pos
*/

#alt_positions{ 
  background:#000; 
  width:100px;
  height:300px;
  float:right;
  clear:both;
}
#alt_positions a{ 
  color:#fff; text-decoration:none; 
  display:block; 
  height:90px; background:#333;  
  width:75px; margin:auto;
  margin-bottom:5px;
  text-align:center;
  font-size:11px;
  letter-spacing:1px;
  }
#alt_positions a:hover{ background:#f00; }
#alt_positions h2{ text-align: center; font-weight:normal; 
  padding-bottom:3px; 
  margin-bottom:16px;
  font-size:12px; border-bottom: 1px dashed #ccc; }




